body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Center the spinner container in the middle of the viewport */
.spinner-container {
  position: fixed; /* Fixes the container's position */
  top: 50%; /* Centers the container vertically */
  left: 50%; /* Centers the container horizontally */
  transform: translate(-50%, -50%); /* Offsets the container to properly center it */
  z-index: 1000; /* Ensures it appears above other content */
}

/* Your existing .progress styles */
.progress {
  width: 134.4px;
  height: 24.6px;
  border-radius: 22.4px;
  color: #474bff;
  border: 2.2px solid;
  position: relative;
}

.progress::before {
  content: "";
  position: absolute;
  margin: 2.2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: progress-pf82op 2s infinite;
}

/* Add the keyframes for animation */
@keyframes progress-pf82op {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
